<div class="formulario position-absolute top-50 start-50 translate-middle">
    <form enctype="multipart/form-data" [formGroup]="this.formularioLogin">
        <button class="button-40 py-2" (click)="this.ingresarDatos()">Entrar</button>

        <div class="px-4 pt-2">
            <label for="mail">Mail</label>
            <input type="email" class="input-text" id="mail" aria-describedby="emailHelp" formControlName="mail">

            <ul class="list-group" *ngIf="this.formularioLogin.controls['mail'].errors != null">
                <li *ngIf="this.formularioLogin.controls['mail'].errors!['required'] && this.formularioLogin.controls['mail'].touched">
                  Este campo no puede estar vacio
                </li>

                <li *ngIf="this.formularioLogin.controls['mail'].errors!['email']">
                  El mail ingresado es invalido
                </li>
            </ul>
        </div>

        <div class="px-4 pt-2 pb-4">
            <label for="clave">Clave</label>
            <input type="password" class="input-text" id="clave" formControlName="clave">

            <ul class="list-group" *ngIf="this.formularioLogin.controls['clave'].errors != null">
                <li *ngIf="this.formularioLogin.controls['clave'].errors!['required'] && this.formularioLogin.controls['clave'].touched">
                Este campo no puede estar vacio
                </li>

                <li *ngIf="this.formularioLogin.controls['clave'].errors!['minlength']">
                    La clave no puede tener menos de 6 caracteres
                </li>
            </ul>
        </div>
    </form>
</div>

<!-- 
    position-absolute bottom-0 end-5
-->
<div class="position-absolute bottom-0 end-0 div_eleccionUsuario"  role="group" style="width: 175px; text-align: center;">
    <button *ngFor="let usuario of usuariosPreCargados" (click)='this.cargarUsuarioPrecargado(usuario.mail, usuario.clave)'>
        <img src={{usuario.url}}>
    </button>
</div>   