.formulario
{
    /*
    padding: 1%;
    */
    background: rgb(5, 170, 225);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    /*
    border-radius: 10px;
    */
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    min-width: 25%;
}

.list-group li
{
  word-wrap:break-word;
  white-space:initial;
  color: red;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.row
{
    padding-right: 2%;
    padding-left: 2%;
}

.formulario label
{
    color: rgb(28, 0, 239);
}

.formulario small
{
   word-wrap:break-word;
}

.input-text
{
    width: 100%;
    font-size: 16px;
    color: black;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #0f5e96;
    outline: none;
    background: transparent;
}

@media (min-width: 768px)
{
    .container, .container-md, .container-sm {

        max-width: 500px;
    }
}

.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
  
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    width: 100%;
}
  
.button-40:hover {
    background-color: #4848e4;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-recomendacion {
    background-color: orange;
    border: 1px solid transparent;
  
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    width: 100%;
}
  
.button-recomendacion:hover {
    background-color: #4848e4;
}

.button-recomendacion:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.div_eleccionUsuario
{
    text-align: center;
    max-width: 13%;
}

.div_eleccionUsuario button
{
    border: none;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: black;
}

.div_eleccionUsuario button:hover
{
    background-color: green;
}

.div_eleccionUsuario img
{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}