<header class="d-flex justify-content-center py-3 bg-dark">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <button class="button-NombreEmpresa" routerLink="bienvenido">Clinica la buena vida</button>
        </li>

        <section *ngIf="this.servicioUsuario.EstaLogueado; then estaLogueado;else noEstaLogueado"></section>

       <ng-template #estaLogueado>
        <li class="nav-item"> 
            <button class="button-40" role="button" routerLink="/home">Home</button>
        </li>

        <li class="nav-item">
            <label class="label-Nombre">{{this.servicioUsuario.usuarioLogueado.Nombre}}</label>
        </li>

        <li class="nav-item"> 
            <button class="button-LogOut" role="button" (click)="this.preguntarCerrarSesion()">Cerrar sesion</button>
        </li>
       </ng-template>

       <ng-template #noEstaLogueado>
        <li class="nav-item"> 
            <button class="button-40" role="button" routerLink="access/login">Entrar</button>
            <button class="button-40" role="button" routerLink="access/register">Registrar</button>
        </li>
       </ng-template>

    </ul>
</header>

<!-- 
       <ng-template *ngSwitch="servicioUsuario.usuarioLogueado.Tipo">
        <section *ngSwitchCase="1">
            <li class="nav-item"><button class="button-40" role="button">Proximamente</button></li>
        </section>

        <section *ngSwitchCase="2">
            <li class="nav-item"><button class="button-40" role="button">Proximamente</button></li>
        </section>

        <section *ngSwitchCase="3">
            <li class="nav-item"><button class="button-40" role="button">Usuarios</button></li>
        </section>
    </ng-template>
-->